.menu {
    position: fixed;
    top: 20px;
    right: 20px;
}

.menu-trigger {
    padding: 30px;
    color: #000;
    cursor: pointer;
    transition: all 0.4 ease;
    z-index: 5000 !important;
}

.menu-trigger:hover {
    background-color: #FFF;
}

.menu-trigger:hover .dropdown {
    top: 0px;
    color: #FFF
}

.dropdown {
    position: fixed;
    top: -400px;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #c9bc8e;
    transition: all 0.4s ease;
    padding: 40px;
}