.red-square{
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgb(255, 0, 0);
}

.white-square{
    width: 120px;
    height: 30px;
    color: #003;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: #FFF;
}

.blue-square{
    width: 120px;
    height: 30px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: #2206c3;
}
    